.add{
    width: 70px;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #666;
    font-size: 16px;

}
.add form{
    gap:20px;
}

.add-img-upload img{
    width: 120px;
}
.flex-col{
    display: flex;  
    flex-direction: column;
    gap:10px;
  }

  .add-product-name, .add-product-description, .add-category, .add-price{
    width: max(50%,380px);
   }
.add-product-name input, .add-product-description textarea{
    padding: 10px;
}
.add-category-price{
    display: flex;
    gap: 50px;
}
.add-category-price select, .add-category-price input{
    max-width: 120px;
    padding: 10px;
}
.add-btn{
    width: max(50%,380px);
    border: none;
    padding: 10px;
    background-color: #1891c1;
    color: white;
    cursor:pointer;

}
